<div style="display: table-row; vertical-align: middle;">
    <table style="display: inline-block;">
        <tr>
            <td colspan="3" style="text-align: center;"><span class="lightPrimaryColor" style="font-size: 4em;">{{component._state.temperature | number:1}}</span><span
                    class="smallFont lightPrimaryColor"><span ng-if="component.configuration.unit != 'Celsius'">F</span><span
                    ng-if="component.configuration.unit === 'Celsius'">&deg;C</span></span></td>
        </tr>
        <tr>
            <td style="width: 30%; text-align: center;"></td>
            <td style="width: 30%; text-align: center;"><span class="smallFont lightPrimaryColor">Temperature</span>
            </td>
        </tr>
    </table>
</div>
<div style="display: table-row; vertical-align: middle;">
    <table style="display: inline-block;">
        <tr>
            <td colspan="3" style="text-align: center;"><span class="lightPrimaryColor" style="font-size: 4em;">{{component._state.luminecance | number:1}}</span><span
                    class="smallFont lightPrimaryColor">Lux</span></td>
        </tr>
        <tr>
            <td style="width: 30%; text-align: center;"></td>
            <td style="width: 30%; text-align: center;"><span class="smallFont lightPrimaryColor">Luminecance</span>
            </td>
        </tr>
    </table>
</div>
<div style="display: table-row; vertical-align: middle;">
    <table style="display: inline-block;">
        <tr>
            <td colspan="3" style="text-align: center;"><span class="lightPrimaryColor" style="font-size: 4em;">{{component._state.relativeHumidity | number:1}}</span><span
                    class="smallFont lightPrimaryColor">%</span></td>
        </tr>
        <tr>
            <td style="width: 30%; text-align: center;"></td>
            <td style="width: 30%; text-align: center;"><span
                    class="smallFont lightPrimaryColor">Relative Humidity</span></td>
        </tr>
    </table>
</div>
<div style="display: table-row; vertical-align: middle;">
    <table style="display: inline-block;">
        <tr>
            <td colspan="3" style="text-align: center;"><span class="lightPrimaryColor" style="font-size: 4em;">{{component._state.ultraviolet | number:1}}</span><span
                    class="smallFont lightPrimaryColor"></span></td>
        </tr>
        <tr>
            <td style="width: 30%; text-align: center;"></td>
            <td style="width: 30%; text-align: center;"><span class="smallFont lightPrimaryColor">Ultraviolet</span>
            </td>
        </tr>
    </table>
</div>
