<div style="display: table-row; vertical-align: middle;">
    <div style="display: table-cell; text-align: center; padding-left: 1em;">
        <a ng-click="panel.callActorService(component, 'toggleFanMode')"><i class="mode icon sl-nuclear-1"></i></a>
        {{component._state.fanMode}}
    </div>
    <div style="display: table-cell; text-align: right; padding-right: 1em;">
        <ti-battery ti-model="component._state.batteryLevel"></ti-battery>
    </div>
</div>
<div style="display: table-row; vertical-align: middle;">
    <div style="display: table-cell; text-align: center; width: 3em; padding-right: 1em;">
        <div class="circleButton" style="display: inline-block;"
             ng-click="panel.callActorService(component, 'decrementSetpoint')">
            <div><i class="icon sl-minus-1"></i></div>
        </div>
    </div>
    <table style="display: inline-block;">
        <tr>
            <td colspan="3" style="text-align: center;"><span class="lightPrimaryColor" style="font-size: 4em;">{{component._state.setpoint | number:1}}</span><span
                    class="smallFont lightPrimaryColor">&deg;C</span></td>
        </tr>
        <tr>
            <td style="width: 30%; text-align: center;"></td>
            <td style="width: 30%; text-align: center;"><span class="smallFont lightPrimaryColor">{{component._state.temperature | number:1}} &deg;C</span>
            </td>
            <td style="width: 30%; text-align: center;"><span ng-if="component._state.boilerActive"
                                                              class="lightPrimaryColor"><i
                    class="fa fa-fire"></i></span></td>
        </tr>
    </table>
    <div style="display: table-cell; text-align: center; width: 3em; padding-left: 1em;">
        <div class="circleButton" style="display: inline-block;"
             ng-click="panel.callActorService(component, 'incrementSetpoint')">
            <div><i class="icon sl-add-1"></i></div>
        </div>
    </div>
</div>


